[Unit]
    Description=Musicfig
    After=network.target

[Service]
    User=%USERNAME%
    Group=%USERNAME%
    WorkingDirectory=%MUSICFIG_DIR%
    ExecStart=%PYTHON_PATH% %MUSICFIG_DIR%/run.py

[Install]
    WantedBy=multi-user.target
